@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-bar: bg-indigo-400;
  --footer-bar: bg-green-400;
  --background-image: bg-[url('/home.png')];
}