@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

@layer base {
  html {
    @apply text-neutral-800;
    @apply bg-purple-50;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-slate-800;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
  }
}